{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false,
        "targets": {
          "chrome": "76"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-syntax-class-properties"]
    }
  }
}
