{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false,
        "targets": {
          "chrome": "76"
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-syntax-class-properties", "@babel/plugin-proposal-class-properties"]
}
